<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>index</title>
</head>

<body>
<h2><p th:text="'hello ' + ${session?.user?.username}"></p></h2>

<p>role user</p>
<p>user <a th:href="@{/user/list}">查询用户</a></p>
<p>user <a th:href="@{/user/add}">添加用户</a></p>
<p>user <a th:href="@{/user/update}">修改用户</a></p>
<p>user <a th:href="@{/user/delete}">删除用户</a></p>
<p>role admin</p>
<p>admin <a th:href="@{/admin/list}">查询用户</a></p>
<p>admin <a th:href="@{/admin/add}">添加用户</a></p>
<p>admin <a th:href="@{/admin/update}">修改用户</a></p>
<p>admin <a th:href="@{/admin/delete}">删除用户</a></p>
<p>admin <a th:href="@{/logout}">退出登录</a></p>
</body>
</html>






