<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leone.boot.shiro.mapper.PermissionMapper">

    <resultMap id="BaseResultMap" type="com.leone.boot.shiro.entity.Permission">
        <id column="permission_id" jdbcType="BIGINT" property="permissionId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="resource_type" jdbcType="VARCHAR" property="resourceType"/>
        <result column="permission" jdbcType="VARCHAR" property="permission"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <insert id="insert" parameterType="com.leone.boot.shiro.entity.Permission">
        insert into sys_permission (permission_id, name, url,
                                    status, parent_id, resource_type,
                                    permission, create_time)
        values (#{permissionId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR},
                #{status,jdbcType=TINYINT}, #{parentId,jdbcType=INTEGER}, #{resourceType,jdbcType=VARCHAR},
                #{permission,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="com.leone.boot.shiro.entity.Permission">
        insert into sys_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="permissionId != null">
                permission_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="resourceType != null">
                resource_type,
            </if>
            <if test="permission != null">
                permission,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="permissionId != null">
                #{permissionId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=INTEGER},
            </if>
            <if test="resourceType != null">
                #{resourceType,jdbcType=VARCHAR},
            </if>
            <if test="permission != null">
                #{permission,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
</mapper>