<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leone.boot.shiro.mapper.PermissionMapper">

    <resultMap id="BaseResultMap" type="com.leone.boot.shiro.entity.Permission">
        <id column="permission_id" property="permissionId"/>
        <result column="name" property="name"/>
        <result column="url" property="url"/>
        <result column="status" property="status"/>
        <result column="parent_id" property="parentId"/>
        <result column="resource_type" property="resourceType"/>
        <result column="permission" property="permission"/>
        <result column="permission_type" property="permissionType"/>
        <result column="sort" property="sort"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <insert id="insert" parameterType="com.leone.boot.shiro.entity.Permission">
        insert into sys_permission (permission_id, name, url, status, parent_id, create_time, permissionType, sort)
        values (#{permissionId}, #{name}, #{url}, #{status}, #{parentId}, #{createTime}, #{permissionType}, #{sort})
    </insert>

    <insert id="insertSelective" parameterType="com.leone.boot.shiro.entity.Permission">
        insert into sys_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="permissionId != null">
                permission_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="permissionType != null">
                permission_type,
            </if>
            <if test="sort != null">
                sort,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="permissionId != null">
                #{permissionId},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="url != null">
                #{url},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="parentId != null">
                #{parentId},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="permissionType != null">
                #{permission_type},
            </if>
            <if test="sort != null">
                #{sort},
            </if>
        </trim>
    </insert>

</mapper>