<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leone.boot.shiro.mapper.RoleMapper">

    <resultMap id="BaseResultMap" type="com.leone.boot.shiro.entity.Role">
        <id column="role_id" property="roleId"/>
        <result column="description" property="description"/>
        <result column="role" property="role"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <insert id="insert" parameterType="com.leone.boot.shiro.entity.Role">
        insert into sys_role (role_id, description, role, status, create_time)
        values (#{roleId}, #{description}, #{role}, #{status}, #{createTime})
    </insert>

    <insert id="insertSelective" parameterType="com.leone.boot.shiro.entity.Role">
        insert into sys_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId != null">
                role_id,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="role != null">
                role,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleId != null">
                #{roleId},
            </if>
            <if test="description != null">
                #{description},
            </if>
            <if test="role != null">
                #{role},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
        </trim>
    </insert>

</mapper>