<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leone.boot.shiro.mapper.UserMapper">

    <resultMap id="UserPermissionMap" type="com.leone.boot.shiro.entity.User">
        <id column="user_id" property="userId"/>
        <result column="account" property="account"/>
        <result column="nickname" property="nickname"/>
        <result column="password" property="password"/>
        <result column="salt" property="salt"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>

        <collection property="roles" ofType="com.leone.boot.shiro.entity.Role">
            <id column="role_id" property="roleId"/>
            <result column="description" property="description"/>
            <result column="role" property="role"/>
            <result column="status" property="status"/>
            <result column="create_time" property="createTime"/>

            <collection property="permissions" ofType="com.leone.boot.shiro.entity.Permission">
                <id column="permission_id" property="permissionId"/>
                <result column="name" property="name"/>
                <result column="url" property="url"/>
                <result column="status" property="status"/>
                <result column="permission_type" property="permissionType"/>
                <result column="sort" property="sort"/>
                <result column="parent_id" property="parentId"/>
                <result column="create_time" property="createTime"/>
            </collection>
        </collection>
    </resultMap>


    <insert id="insert" parameterType="com.leone.boot.shiro.entity.User">
        insert into sys_user (user_id, account, nickname,password, salt, status, create_time)
        values (#{userId}, #{account}, #{nickname}, #{password}, #{salt}, #{status}, #{createTime})
    </insert>

    <insert id="insertSelective" parameterType="com.leone.boot.shiro.entity.User">
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="account != null">
                account,
            </if>
            <if test="nickname != null">
                nickname,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="salt != null">
                salt,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId},
            </if>
            <if test="account != null">
                #{account},
            </if>
            <if test="nickname != null">
                #{nickname},
            </if>
            <if test="password != null">
                #{password},
            </if>
            <if test="salt != null">
                #{salt},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
        </trim>
    </insert>

    <select id="findAllPermissionByAccount" parameterType="java.lang.String" resultMap="UserPermissionMap">
        SELECT u.*, p.*, r.* FROM sys_user u
        LEFT JOIN sys_user_role ur ON u.user_id = ur.user_id
        LEFT JOIN sys_role r ON r.role_id = ur.role_id
        LEFT JOIN sys_permission_role rp ON rp.role_id = r.role_id
        LEFT JOIN sys_permission p ON p.permission_id = rp.permission_id
        WHERE account = #{account} LIMIT 1;
    </select>

</mapper>