server:
  port: 8082

spring:
  dubbo:
    application:
      name: service-consumer
    base-package: com.andy.consumer.service # dubbo服务发布者所在的包
    registry:
      address: ip  # zookeeper注册中心的地址
      port: 2181              # zookeeper注册中心的端口
      protocol: zookeeper
      register: true
    protocol:
      name: dubbo
      port: 20880
      accesslog: true
    provider:
      retries: 1
      delay: -1
