<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://cdn.bootcss.com/qrious/4.0.2/qrious.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <meta charset="utf-8" />
</head>
<body>
    <img style="display: inline;" th:src="@{/code}" title="点击切换" id="qrCode" onclick="this.src='/code?id='+new Date()*1"/>
    <br>

    <img id="qrious">
    <script>
        var qr = new QRious({
            element:document.getElementById('qrious'),
            size:250,
            level:'H',
            value:'http://www.rllin.cn'
        });
    </script>
</body>
</html>