# spring-boot 连接 mysql 配置
spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://ip:3306/boot?useSSL=false&characterEncoding=utf8
    username: root
    password: cloud


# mybatis-plus 配置

mybatis-plus:
  mapper-locations: classpath:mybatis/mappers/*.xml
  # 实体扫描，多个package用逗号或者分号分隔
  typeAliasesPackage: com.leone.mybatis.entity
  global-config:
    db-config:
      # 主键类型
      id-type: auto
      # 字段策略 0:"忽略判断",1:"非 NULL 判断"),2:"非空判断"
      field-strategy: not_empty
      # 逻辑删除配置
      logic-delete-value: 1
      logic-not-delete-value: 0
      # 是否开启大写命名，默认不开启
      capital-mode: false
      # 表前缀
      table-prefix: t_
      # 表名、是否使用下划线命名，默认数据库表使用下划线命名
      table-underline: false
  configuration:
    map-underscore-to-camel-case: true
    cache-enabled: false
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
