spring:
  application:
    name: seurity
  datasource:
    url: jdbc:mysql://localhost:3306/boot?useSSL=false
    username: root
    password: root
    driver-class-name: com.mysql.jdbc.Driver
#  jpa:
#    hibernate:
#      ddl-auto: update
#      naming:
#        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
#    show-sql: true
#    open-in-view: true
  thymeleaf:
    cache: false
    prefix: classpath:/templates/
    suffix: .html
    mode: LEGACYHTML5
    encoding: UTF-8
    servlet:
      content-type: text/html
  jpa:
    hibernate:
      ddl-auto: none
      naming:
        implicit-strategy: org.springframework.boot.orm.jpa.hibernate.SpringImplicitNamingStrategy
security:
  oauth2:
    client:
      client-id: andyid
      client-secret: andysecret
  user:
    name: andy
    password: andy
    role: user
