<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div style="width: 600px; text-align: left; margin: 0 auto;">
    <h1 style="color: #005da7;">YGOTH</h1>
    <div style="border-bottom: 5px solid #005da7; height: 2px; width: 100%;"></div>
    <div style="border: 1px solid #005da7; font-size: 16px; line-height: 50px; padding: 20px;">
        <p th:text="${to}+' ,您好！'"></p>
        <div>
            泰国自由行，没玩够怎么行！
        </div>
        <div style="border-bottom: 2px solid #005da7; height: 2px; width: 100%;"></div>
        <div>欢迎注册“玩够泰国”，请点击下面的链接激活账号：</div>
        <div>
            <span><a th:href="@{'http://localhost:9901/msg/activateMail?mail='+${to}+'&token='+${token}}">点我激活</a></span>
        </div>
        <div>
            <img src="https://www.ygoworld.com/img/玩够泰国logo.png" alt="YGOTH" />
        </div>
        <div>
            想了解更多信息，请访问 <a href="https://www.ygoworld.com/">https://www.ygoworld.com/</a>
        </div>
    </div>
</div>
</body>
</html>






