<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta charset="UTF-8" />
<title></title>
<script src="https://cdn.bootcss.com/qrious/4.0.2/qrious.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
	<div style="text-align: center">
		<a th:href="@{/alipay/index}">阿里支付</a> 
		<a th:href="@{/wechat/index}">微信支付</a>
		<a th:href="@{/unionpay/index}">银联支付</a>
		<a th:href="@{/pay/index}">支付账单</a>
		<a th:href="@{/swagger-ui.html}">API文档</a>
	</div>
<hr>
<div>
	<a th:href="@{/wechat/code}">获取code</a>

	<img id="qrious">
	<script>
        var qr = new QRious({
            element:document.getElementById('qrious'),
            size:250,
            level:'H',
            value:'http://www.baidu.com'
        });
	</script>
</div>
</body>
</html>