<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leone.boot.mybatis.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.leone.boot.common.entity.User">
        <id column="user_id" property="userId"/>
        <result column="account" property="account"/>
        <result column="password" property="password"/>
        <result column="age" property="age"/>
        <result column="description" property="description"/>
        <result column="create_time" property="createTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <sql id="base_column">
        user_id, account, password, age, description, deleted, create_time
    </sql>

    <insert id="insert" parameterType="com.leone.boot.common.entity.User">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="user.account != null">
                account,
            </if>
            <if test="user.password != null">
                password,
            </if>
            <if test="user.age != null">
                age,
            </if>
            <if test="user.description != null">
                description,
            </if>
            <if test="user.deleted != null">
                deleted,
            </if>
            <if test="user.createTime != null">
                create_time,
            </if>
        </trim>
        values
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="user.account != null">
                #{user.account},
            </if>
            <if test="user.password != null">
                #{user.password},
            </if>
            <if test="user.age != null">
                #{user.age},
            </if>
            <if test="user.description != null">
                #{user.description},
            </if>
            <if test="user.deleted != null">
                #{user.deleted},
            </if>
            <if test="user.createTime != null">
                #{user.createTime},
            </if>
        </trim>
    </insert>


    <update id="updateByUserId" parameterType="com.leone.boot.common.entity.User">
        update t_user
        <trim suffixOverrides=",">
            <set>
                <if test="account != null">
                    account = #{account},
                </if>
                <if test="password != null">
                    password = #{password},
                </if>
                <if test="age != null">
                    age = #{age},
                </if>
                <if test="description != null">
                    description = #{description},
                </if>
                <if test="deleted != null">
                    deleted= #{deleted},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime},
                </if>
            </set>
        </trim>
        where user_id = #{userId}
    </update>


    <update id="updateById" parameterType="com.leone.boot.common.entity.User">
        update t_user
        set account = #{user.account},
        password = #{user.password},
        age = #{user.age},
        description = #{user.description},
        deleted = #{user.deleted},
        create_time = #{user.createTime}
        where user_id = #{user.userId}
    </update>

    <insert id="insertBatchTest" parameterType="java.util.List">
        INSERT INTO t_user (account, password, age, description, deleted, create_time) VALUES
        <foreach collection="users" item="user" index="inx" separator=",">
            <trim prefix="(" suffixOverrides="," suffix=")">
                <choose>
                    <when test="user.account != null">
                        #{user.account},
                    </when>
                    <otherwise>
                        'defaultAccount',
                    </otherwise>
                </choose>

                <choose>
                    <when test="user.password != null">
                        #{user.password},
                    </when>
                    <otherwise>
                        'defPassword',
                    </otherwise>
                </choose>

                <choose>
                    <when test="user.age != null">
                        #{user.age},
                    </when>
                    <otherwise>
                        0,
                    </otherwise>
                </choose>

                <choose>
                    <when test="user.description != null">
                        #{user.description},
                    </when>
                    <otherwise>
                        '我是杰克！今年32岁，我喜欢的篮球',
                    </otherwise>
                </choose>

                <choose>
                    <when test="user.deleted != null">
                        #{user.deleted},
                    </when>
                    <otherwise>
                        0,
                    </otherwise>
                </choose>

                <choose>
                    <when test="user.createTime != null">
                        #{user.createTime}
                    </when>
                    <otherwise>
                        '2018-6-9'
                    </otherwise>
                </choose>
            </trim>
        </foreach>
    </insert>

</mapper>