<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.andy.data.mybatis.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.andy.data.entity.User">
        <id column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="account" property="account" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="birthday" property="birthday" jdbcType="TIMESTAMP"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="salary" property="salary" jdbcType="DOUBLE"/>
        <result column="deleted" property="deleted" jdbcType="BOOLEAN"/>
    </resultMap>

    <sql id="Base_Column">
        user_id, account, password, salary, birthday, create_time, deleted
    </sql>

    <!--<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long" >-->
    <!--select <include refid="Base_Column" /> from t_user where id = #{id,jdbcType=BIGINT}-->
    <!--</select>-->

    <insert id="insert" parameterType="User">
        insert into t_user (account, password, salary, birthday, create_time, deleted)
        values (
            #{account,jdbcType=VARCHAR},
            #{password,jdbcType=VARCHAR},
            #{salary,jdbcType=DOUBLE},
            #{birthday,jdbcType=TIMESTAMP},
            #{createTime,jdbcType=TIMESTAMP},
            #{deleted,jdbcType=BOOLEAN}
        )
    </insert>


    <insert id="insertSelective" parameterType="User">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="email != null">
                email,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="salary != null">
                salary,
            </if>
            <if test="birthday != null">
                birthday,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="salary != null">
                salary = #{salary,jdbcType=DOUBLE},
            </if>
            <if test="birthday != null">
                birthday = #{birthday,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>


    <select id="findByUserId" parameterType="java.lang.Long" resultType="com.andy.data.entity.User">
        select *
        from tb_user
        where id = #{userId}
    </select>


    <update id="updateByIdSelective" parameterType="User">
        update t_user
        <set>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="salary != null">
                salary = #{salary,jdbcType=DOUBLE},
            </if>
            <if test="birthday != null">
                birthday = #{birthday,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>


    <update id="updateById" parameterType="User">
        update t_user
        set
            email    = #{email,jdbcType=VARCHAR},
            username = #{username,jdbcType=VARCHAR},
            salary   = #{salary,jdbcType=DOUBLE},
            birthday = #{birthday,jdbcType=TIMESTAMP},
            where id = #{id,jdbcType=BIGINT}
    </update>

    <insert id="insertList" parameterType="java.util.List">
        INSERT INTO t_user (account, password, salary, create_time, deleted, birthday) VALUES
        <foreach collection="users" item="user" index="inx" separator=",">
            <trim prefix="(" suffixOverrides="," suffix=")">
                <choose>
                    <when test="user.account != null">
                        #{user.account,jdbcType=VARCHAR},
                    </when>
                    <otherwise>
                        'user@163.com-def',
                    </otherwise>
                </choose>

                <choose>
                    <when test="user.password != null">
                        #{user.password,jdbcType=VARCHAR},
                    </when>
                    <otherwise>
                        'password-def',
                    </otherwise>
                </choose>

                <choose>
                    <when test="user.salary != null">
                        #{user.salary,jdbcType=DOUBLE},
                    </when>
                    <otherwise>
                        salary = 0.00,
                    </otherwise>
                </choose>

                <choose>
                    <when test="user.createTime != null">
                        #{user.createTime,jdbcType=TIMESTAMP},
                    </when>
                    <otherwise>
                        '2001-1-1',
                    </otherwise>
                </choose>

                <choose>
                    <when test="user.deleted != null">
                        #{user.deleted,jdbcType=BOOLEAN},
                    </when>
                    <otherwise>
                        0,
                    </otherwise>
                </choose>

                <choose>
                    <when test="user.birthday != null">
                        #{user.birthday,jdbcType=TIMESTAMP}
                    </when>
                    <otherwise>
                        '2001-1-1'
                    </otherwise>
                </choose>

            </trim>
        </foreach>
    </insert>

</mapper>